
@font-face {
    font-family: Tesla;
    src: url(TESLA.ttf);
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

/*HEADER*/

header {
    display: inline-block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    z-index: 100;
    box-shadow: 0px 0px 20px 5px #666668;
}
header #header-title {
    font-family: Tesla;
    color: #e82127;
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
}
header div {
    display: inline-block;
    width: 49%;
    text-align: center;
}
header #header-buttons {
    display: inline-block;
    height: 100%;
    position: relative;
    top:-10px;
}

header #header-buttons a div{
    display: inline-block;
    position: relative;
    font-family: Tesla;
    top: 0px;
    width: 32%;
    height: 66%;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10%;
    font-size: 20px;
    text-decoration: none;
    color: #666668;
}
#header-buttons div:hover{
    color: #e82127;
    border: 3px solid #e82127;
    cursor: pointer;
    transition: all 0.5s;
}
#picture-section {
    box-shadow: 0px 0px 100px 100px grey inset;
    background-color: transparent;
    z-index: 10;
}
#picture-section img{
    z-index: 1;
}
    /* MAIN */

main {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .sections {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 100px;
    padding-top: 70px;
    text-align: center;
}
main .section h1 {
    display: block;
    position: relative;
    width: 86%;
    margin: 0 auto;

}
main .sections h1::after {
    display: block;
    position: relative;
    top: 0px;
    content: "";
    width: 10%;
    height: 10px;
    background: #e82127;
}
main #intro-section h1::after {
    background: #fff;
}
main #intro-section {
    background-color: #e82127;
    color: #fff;
}

 main .text-section {
     display: inline-block;
     position: relative;
     width: 66%;
     margin: 0 auto;
     text-align: left;
     color: #666668;
 }

 main .text-section h1 {
margin-bottom: 20px;
color: #000;
}

main #future-section {
    background-color: #000;
    color: #fff;
}
main #future-section h1{
    background-color: #000;
    color: #fff;
}

/*FOOTER*/
footer {
    display: inline-block;
    background-color: #666668;
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer div {
    margin: 0 auto;
}